<h1 style="color: red; text-align: center">Data Project: Scrapping & Dashboarding</h1>
<hr width: 5px>
<h3>❖ Author:</h3>
<p>TATI Mohammed</p>
<p style="text-align: right;"><b>28-JAN | <span style="color: green;">2023</span></b></p>

<h2 style="color: green">Importing libraries required</h2>

In [1]:
# Data manipilation
import pandas as pd

# Scrapping tool
from bs4 import BeautifulSoup

# To get the HTTP requests
import requests

# To make sure we are scrapping the right data
import re

<h2 style="color: green">Data Source</h2>

- The reason that I did this project is to learn to scrap, then I came up with the idea to scrap all jobs which are related to the data field in Morocco, so we answer the questions that we got & at the same time learn some scrapping techniques.
- I believe there will be a better way to scrap without these tons of lines of code :) .
<img src="linkedin.PNG" width="400">

In [2]:
# Jobs URL: These are links to pages that contains the jobs

# Data Engineer
DE1 = "https://www.linkedin.com/jobs/search/?currentJobId=3444082376&geoId=102787409&keywords=data%20engineer"
DE2 = "https://www.linkedin.com/jobs/search/?currentJobId=3428855292&geoId=102787409&keywords=data%20engineer&start=25"
DE3 = "https://www.linkedin.com/jobs/search/?currentJobId=3322482019&geoId=102787409&keywords=data%20engineer&start=50"
DE4 = "https://www.linkedin.com/jobs/search/?currentJobId=3443300330&geoId=102787409&keywords=data%20engineer&start=75"
DE5 = "https://www.linkedin.com/jobs/search/?currentJobId=3444943993&geoId=102787409&keywords=data%20engineer&start=100"
DE6 = "https://www.linkedin.com/jobs/search/?currentJobId=3420952357&geoId=102787409&keywords=data%20engineer&start=125"
DE7 = "https://www.linkedin.com/jobs/search/?currentJobId=3409082767&geoId=102787409&keywords=data%20engineer&start=150"
DE8 = "https://www.linkedin.com/jobs/search/?currentJobId=3443479656&geoId=102787409&keywords=data%20engineer&start=175"
DE9 = "https://www.linkedin.com/jobs/search/?currentJobId=3443479587&geoId=102787409&keywords=data%20engineer&start=200"
DE10 = "https://www.linkedin.com/jobs/search/?currentJobId=3432966354&geoId=102787409&keywords=data%20engineer&start=225"
DE11 = "https://www.linkedin.com/jobs/search/?currentJobId=3443482760&geoId=102787409&keywords=data%20engineer&start=250"
DE12 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484211&geoId=102787409&keywords=data%20engineer&start=275"
DE13 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484002&geoId=102787409&keywords=data%20engineer&start=300"
DE14 = "https://www.linkedin.com/jobs/search/?currentJobId=3442183013&geoId=102787409&keywords=data%20engineer&start=325"
DE15 = "https://www.linkedin.com/jobs/search/?currentJobId=3410576493&geoId=102787409&keywords=data%20engineer&start=350"
DE16 = "https://www.linkedin.com/jobs/search/?currentJobId=3440933718&geoId=102787409&keywords=data%20engineer&start=375"
DE17 = "https://www.linkedin.com/jobs/search/?currentJobId=3393416534&geoId=102787409&keywords=data%20engineer&start=400"
DE18 = "https://www.linkedin.com/jobs/search/?currentJobId=3406243757&geoId=102787409&keywords=data%20engineer&start=425"
DE19 = "https://www.linkedin.com/jobs/search/?currentJobId=3434797565&geoId=102787409&keywords=data%20engineer&start=450"
DE20 = "https://www.linkedin.com/jobs/search/?currentJobId=3181850282&geoId=102787409&keywords=data%20engineer&start=475"
DE21 = "https://www.linkedin.com/jobs/search/?currentJobId=3438208029&geoId=102787409&keywords=data%20engineer&start=500"
DE22 = "https://www.linkedin.com/jobs/search/?currentJobId=3438208029&geoId=102787409&keywords=data%20engineer&start=525"

# Data Science
DS1 = "https://www.linkedin.com/jobs/search/?currentJobId=3443481706&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true"
DS2 = "https://www.linkedin.com/jobs/search/?currentJobId=3443480923&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=25"
DS3 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484241&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=50"
DS4 = "https://www.linkedin.com/jobs/search/?currentJobId=3443485053&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=75"
DS5 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484218&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=100"
DS6 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484211&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=125"
DS7 = "https://www.linkedin.com/jobs/search/?currentJobId=3450063232&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=150"
DS8 = "https://www.linkedin.com/jobs/search/?currentJobId=3442077694&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=175"
DS9 = "https://www.linkedin.com/jobs/search/?currentJobId=3421438842&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=200"
DS10 = "https://www.linkedin.com/jobs/search/?currentJobId=3444946706&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=225"
DS11 = "https://www.linkedin.com/jobs/search/?currentJobId=3441751324&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=250"
DS12 = "https://www.linkedin.com/jobs/search/?currentJobId=3401991083&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=275"
DS13 = "https://www.linkedin.com/jobs/search/?currentJobId=3410446323&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=300"
DS14 = "https://www.linkedin.com/jobs/search/?currentJobId=3410446323&geoId=102787409&keywords=data%20science&location=Morocco&refresh=true&start=325"

# Data Analyst
DA1 = "https://www.linkedin.com/jobs/search/?currentJobId=3443481706&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true"
DA2 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484241&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=25"
DA3 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484218&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=50"
DA4 = "https://www.linkedin.com/jobs/search/?currentJobId=3443484211&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=75"
DA5 = "https://www.linkedin.com/jobs/search/?currentJobId=3443482614&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=100"
DA6 = "https://www.linkedin.com/jobs/search/?currentJobId=3403451652&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=125"
DA7 = "https://www.linkedin.com/jobs/search/?currentJobId=3440776707&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=150"
DA8 = "https://www.linkedin.com/jobs/search/?currentJobId=3411973840&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=175"
DA9 = "https://www.linkedin.com/jobs/search/?currentJobId=3450173928&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=200"
DA10 = "https://www.linkedin.com/jobs/search/?currentJobId=3421571696&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=225"
DA11 = "https://www.linkedin.com/jobs/search/?currentJobId=3406408739&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=250"
DA12 = "https://www.linkedin.com/jobs/search/?currentJobId=3447416414&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=275"
DA13 = "https://www.linkedin.com/jobs/search/?currentJobId=3417372074&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=300"
DA14 = "https://www.linkedin.com/jobs/search/?currentJobId=3123988222&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=325"
DA15 = "https://www.linkedin.com/jobs/search/?currentJobId=3423316170&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=350"
DA16 = "https://www.linkedin.com/jobs/search/?currentJobId=3391327607&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=375"
DA17 = "https://www.linkedin.com/jobs/search/?currentJobId=3442711545&geoId=102787409&keywords=data%20analysis&location=Morocco&refresh=true&start=400"

# List of pages
DE_jobs = [DE1,DE2,DE3,DE4,DE5,DE6,DE7,DE8,DE9,DE10,DE11,DE12,DE13,DE14,DE15,DE16,DE17,DE18,DE19,DE20,DE21,DE22] 
DS_jobs = [DS1,DS2,DS3,DS4,DS5,DS6,DS7,DS8,DS9,DS10,DS11,DS12,DS13,DS14]
DA_jobs = [DA1,DA2,DA3,DA4,DA5,DA6,DA7,DA8,DA9,DA10,DA11,DA12,DA13,DA14,DA15,DA16,DA17]

<h2 style="color: green">Scrapping phase</h2>
<img src="html.PNG" width="800">

In [3]:
def scraper(url_list):
    # DataFrame (dict)
    data = {"id": [], "title": [], "time": [], "place": [], "company": []}
    i = 0
    for url in url_list:
    
        # Fetch raw jobs HTML content
        html_content = requests.get(url).text

        # through the content using BeautifulSoup:
        soup = BeautifulSoup(html_content, "html.parser")

        # getting all Data jobs links in the page. Which are a href in a tags see the pic above :) 
        jobs = soup.find_all('a', href=True)
        
        for job in jobs:
            job_url = job['href']
            # Checking if we are scrapping the right data (jobs)
            if re.match(r"https://ma.linkedin.com/jobs/view/*", job_url):
                job_id = "JIDFM"+"{:03d}".format(i) # just to organize
                data['id'].append(job_id)
                # Fetch raw job HTML content
                job_html = requests.get(job_url).text
                soup1 = BeautifulSoup(job_html, "html.parser")
                
                # Job title
                title = soup1.find('h1')
                if title is not None:
                    data['title'].append(title.text)
                else:
                    data['title'].append(None)
            # As you can notice all the data that we want are a span tags. So, we will distinguish between them using the class
                spans = soup1.find_all('span')
                for span in spans:
                    
                    if span['class'] == ['posted-time-ago__text', 'topcard__flavor--metadata']:
                        # Time of publication
                        time = str(span.text).strip() # Deleting all spaces
                        if time == '':
                            time = None
                        data['time'].append(time)
                            
                    if span['class'] == ['sub-nav-cta__meta-text']:
                        # Job place
                        place = str(span.text).strip() 
                        if place == '':
                            place = None
                        data['place'].append(place)
                            
                    if span['class'] == ['topcard__flavor']:
                        # Company
                        company = str(span.text).strip()
                        if company == '':
                            company = None
                        data['company'].append(company)
        
                # Increament the id
                i += 1
    
    return data

In [4]:
#data_DE = scraper(DE_jobs) # 24 min just for Data engineer search xD. I have a bad conx :)

<h2 style="color: green">Scrapping Example</h2>

+ The question here is how did we get the class name of each span. All what we had to do is to test on a job.

In [5]:
job_url = "https://www.linkedin.com/jobs/view/3444078910/?alternateChannel=search&refId=nFVG8RCAop5J0TXmpzUM9Q%3D%3D&trackingId=s%2Be0gzixNfXCkYJbvCkZWA%3D%3D"

job_html = requests.get(job_url).text
soup = BeautifulSoup(job_html, "html.parser")

# title
title = soup.find('h1').text

# finding all span tags
spans = soup.find_all('span')
for span in spans:
    print(span['class'])
    s = str(span.text).strip()
    if s == '':
        s = "None"
    print(s)
    print("----------------") # for good looking :)

['sr-only']
LinkedIn
----------------
['sr-only']
Expand search
----------------
['switcher-tabs__placeholder-text', 'm-auto']
None
----------------
['typeahead-input__dropdown-text', 'font-sans', 'text-sm', 'font-bold', 'text-color-text']
None
----------------
['typeahead-input__dropdown-text', 'font-sans', 'text-sm', 'font-bold', 'text-color-text']
None
----------------
['sub-nav-cta__meta-text']
Mechouar, Casablanca-Settat, Morocco
----------------
['challenge-dialog__title']
Security verification
----------------
['topcard__flavor']
Deloitte
----------------
['topcard__flavor', 'topcard__flavor--bullet']
Mechouar, Casablanca-Settat, Morocco
----------------
['posted-time-ago__text', 'topcard__flavor--metadata']
6 days ago
----------------
['num-applicants__caption', 'topcard__flavor--metadata', 'topcard__flavor--bullet']
153 applicants
----------------
['challenge-dialog__title']
Security verification
----------------
['email-input-page__body']
Your job seeking activity is only visible to you.
----------------
['text-md', 'text-left', 'inline-block', 'w-[calc(100%-24px)]']
None
----------------
['text-md', 'font-medium', 'block', 'my-1']
None
----------------
['text-md', 'text-color-text']
None
----------------
['text-md', 'font-medium', 'inline-block', 'my-1']
None
----------------
['text-md', 'text-left', 'inline-block', 'w-[calc(100%-24px)]']
None
----------------
['text-md', 'inline-block', 'ml-1']
None
----------------
['text-sm', 'text-left', 'inline-block', 'w-[calc(100%-24px)]', 'opacity-60', 'pl-[30px]']
None
----------------
['text-md', 'text-color-text', 'font-normal', 'inline-block']
None
----------------
['text-sm', 'text-color-text', 'font-normal', 'inline-block', 'w-[calc(100%-24px)]', 'opacity-60']
None
----------------
['text-sm', 'font-normal', 'text-color-text-secondary']
None
----------------
['description__job-criteria-text', 'description__job-criteria-text--criteria']
Associate
----------------
['description__job-criteria-text', 'description__job-criteria-text--criteria']
Full-time
----------------
['description__job-criteria-text', 'description__job-criteria-text--criteria']
Information Technology
----------------
['description__job-criteria-text', 'description__job-criteria-text--criteria']
Business Consulting and Services
----------------
['sr-only']
LinkedIn
----------------
['li-footer__copy-text', 'flex', 'items-center']
© 2023
----------------
['language-selector__label-text', 'mr-0.5', 'break-words']
Language
----------------
['create-alert-error-message__container']
None
----------------
['create-alert-error-message__text']
None
----------------
['create-alert-error-message__container']
Sign in to create more
----------------
['create-alert-error-message__text']
None
----------------
['break-word']
None
----------------
['create-alert-sign-in-form__query-info']
Data Analyst
----------------
['create-alert-sign-in-form__query-info']
Mechouar, Casablanca-Settat, Morocco
----------------

+ As the scrapping takes too much time we will do an example only with one page :)

In [6]:
# The parameter needed for the scraper function is a list of URLs of pages, and each page URL contains jobs.
P1 = "https://www.linkedin.com/jobs/search/?currentJobId=3420289631&geoId=102787409&keywords=data%20engineer"
url_list_example = [P1]

data_P1 = scraper(url_list_example) # 20 seconds

In [7]:
print(len(data_P1['id']), len(data_P1['title']), len(data_P1['time']), len(data_P1['place']), len(data_P1['company']))

25 25 20 25 25

+ We got some missing data (Still do not know why :), if anyone find out let me know)

In [9]:
# Now we need to hundle the missing data. let's just fill with None values so we can create the dataframe.
# to create a dataframe you must have the same len of all arrays.
for i in range(5):
    data_P1['time'].append(None)
len(data_P1['time'])

25

In [10]:
# Checking
print(len(data_P1['id']), len(data_P1['title']), len(data_P1['time']), len(data_P1['place']), len(data_P1['company']))

25 25 25 25 25

In [13]:
# Creating the dataframe
df_P1 = pd.DataFrame(data_P1)

In [12]:
df_P1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       25 non-null     object
 1   title    25 non-null     object
 2   time     20 non-null     object
 3   place    25 non-null     object
 4   company  25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [14]:
# Now let's drop null
df_P1.dropna(axis=0, inplace=True)
df_P1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     object
 1   title    20 non-null     object
 2   time     20 non-null     object
 3   place    20 non-null     object
 4   company  20 non-null     object
dtypes: object(5)
memory usage: 960.0+ bytes

In [16]:
# let's get jobs from titles
df_P1['jobs'] = None
def get_jobs(title):
    jobs = ['data engineer', 'data analyst', 'data scientist', 'machine learning engineer', 'data specialist']
    r_job = None
    for job in jobs:
        if title.lower().__contains__(job):
            r_job = job
    return r_job
df_P1['jobs'] = df_P1['title'].apply(get_jobs)

# Checking if there is any null values in jobs
df_P1[df_P1.jobs.isnull()]

,id,title,time,place,company,jobs
6,JIDFM006,Data DevOps Engineer,قبل شهر واحد,الدار البيضاء الكبرى الدار البيضاء المغرب,CIH BANK,None
9,JIDFM009,Développeur et Analyste de données,قبل 2 أسبوع,الدار البيضاء الكبرى Prefecture of Casablanca ...,Orange Maroc,None
13,JIDFM013,Machine Learning Operations Engineer,قبل يوم واحد,الرباط-سلا-زمور-زعير الرباط المغرب,Onclusive,None
17,JIDFM017,Ingénieur Data H/F,قبل يوم واحد,الدار البيضاء الكبرى الدار البيضاء المغرب,SII SERVICES MAROC,None
18,JIDFM018,Consultation_ Développeur Big DATA,قبل 3 أسبوع,الدار البيضاء الكبرى المشور الدار البيضاء المغرب,GEC _ Global Experts Consulting,None

In [17]:
from copy import deepcopy
# Filling
data = deepcopy(df_P1)
data[data.place=="Data DevOps Engineer"].jobs = 'data engineer'
data[data.place=="Développeur et Analyste de données"].jobs = 'data analyst'
data[data.place=="Machine Learning Operations Engineer"].jobs = 'machine learning engineer'

In [18]:
# let's remove the last two samples 
data.dropna(axis=0, inplace=True)

In [19]:
data

,id,title,time,place,company,jobs
0,JIDFM000,Data Engineer,قبل 4 أيام,الدار البيضاء الكبرى الدار البيضاء المغرب,Artefact,data engineer
1,JIDFM001,Data Engineer Ref. 003526,قبل 2 أيام,الدار البيضاء الكبرى الدار البيضاء المغرب,Novancy One | Recrutement de Talents du Digital,data engineer
2,JIDFM002,Data Engineer (based in Morocco),قبل 4 أيام,منطقة كازابلانكا الحضرية,Netcompany-Intrasoft,data engineer
3,JIDFM003,Data Engineer H/F,قبل أسبوع واحد,منطقة كازابلانكا الحضرية,Groupe INTM,data engineer
4,JIDFM004,Data Engineer - GAMMA,قبل شهر واحد,الدار البيضاء الكبرى الدار البيضاء المغرب,Boston Consulting Group (BCG),data engineer
5,JIDFM005,"Data Engineer - QuantumBlack, AI by McKinsey",قبل 6 أيام,الدار البيضاء الكبرى الدار البيضاء المغرب,"QuantumBlack, AI by McKinsey",data engineer
7,JIDFM007,Data Analyst (H/F),قبل 2 أسبوع,الدار البيضاء الكبرى المشور الدار البيضاء المغرب,Deloitte,data analyst
8,JIDFM008,Senior Data Analyst,قبل 4 أيام,الدار البيضاء الكبرى مقاطعة أنفا المغرب,Infomineo,data analyst
10,JIDFM010,Lead Data Engineer,قبل أسبوع واحد,مراكش ـ تانسيفت ـ الحوز ابن جرير المغرب,ALPHA10X,data engineer
11,JIDFM011,Ingénieur Data engineer Confirmé (H/F) - Casab...,قبل يوم واحد,الدار البيضاء الكبرى Prefecture of Casablanca ...,Atos,data engineer
12,JIDFM012,Lead Data Engineer,قبل 2 أسبوع,مراكش ـ تانسيفت ـ الحوز ابن جرير المغرب,ALPHA10X,data engineer
14,JIDFM014,Data Scientist-(H/F),قبل 2 أيام,الدار البيضاء الكبرى الدار البيضاء المغرب,Société Générale Maroc,data scientist
15,JIDFM015,BIG DATA ENGINEER (3-5 years of XP),قبل 2 أسبوع,الرباط-سلا-زمور-زعير المغرب,GLOBAL DEFENSE SYSTEMS,data engineer
16,JIDFM016,Data Scientist,قبل 4 أسبوع,منطقة كازابلانكا الحضرية,Evernex,data scientist
19,JIDFM019,Data Scientist,قبل 2 أسبوع,الدار البيضاء الكبرى Prefecture of Casablanca ...,Société Générale Maroc,data scientist

In [21]:
# let's now translate from Arabic to English you can use googletrans but I will do it manually
times = data.time.unique()
times

array(['قبل 4 أيام', 'قبل 2 أيام', 'قبل  أسبوع واحد', 'قبل  شهر واحد',
       'قبل 6 أيام', 'قبل 2 أسبوع', 'قبل  يوم واحد', 'قبل 4 أسبوع'],
      dtype=object)

In [22]:
len(times)

8

In [23]:
n_times = ['4 days ago',
           '2 days ago',
           '1 week ago',
           '1 month ago',
           '6 days ago',
           '2 weeks ago',
           '1 day ago',
           '4 weeks ago'
          ]
len(n_times)

8

In [24]:
mapping = {}
for i in range(8):
    mapping[times[i]] = n_times[i]
mapping

{'قبل 4 أيام': '4 days ago',
 'قبل 2 أيام': '2 days ago',
 'قبل  أسبوع واحد': '1 week ago',
 'قبل  شهر واحد': '1 month ago',
 'قبل 6 أيام': '6 days ago',
 'قبل 2 أسبوع': '2 weeks ago',
 'قبل  يوم واحد': '1 day ago',
 'قبل 4 أسبوع': '4 weeks ago'}

In [25]:
data['time'] = data['time'].map(mapping)
# Done

In [27]:
# Now, let's do the same to places
places = data.place.unique()
places

array(['الدار البيضاء الكبرى الدار البيضاء المغرب',
       'منطقة كازابلانكا الحضرية',
       'الدار البيضاء الكبرى المشور الدار البيضاء المغرب',
       'الدار البيضاء الكبرى مقاطعة أنفا المغرب',
       'مراكش ـ تانسيفت ـ الحوز ابن جرير المغرب',
       'الدار البيضاء الكبرى Prefecture of Casablanca المغرب',
       'الرباط-سلا-زمور-زعير المغرب'], dtype=object)

In [28]:
len(places)

7

In [29]:
mapping = {}
for i in range(7):
    if i==0 or i==1 or i==2 or i==3 or i==5:
        mapping[places[i]] = 'Casablanca'    
mapping[places[-1]] = 'Rebat'
mapping[places[4]] = 'Marrakech'
mapping

{'الدار البيضاء الكبرى الدار البيضاء المغرب': 'Casablanca',
 'منطقة كازابلانكا الحضرية': 'Casablanca',
 'الدار البيضاء الكبرى المشور الدار البيضاء المغرب': 'Casablanca',
 'الدار البيضاء الكبرى مقاطعة أنفا المغرب': 'Casablanca',
 'الدار البيضاء الكبرى Prefecture of Casablanca المغرب': 'Casablanca',
 'الرباط-سلا-زمور-زعير المغرب': 'Rebat',
 'مراكش ـ تانسيفت ـ الحوز ابن جرير المغرب': 'Marrakech'}

In [30]:
data['place'] = data['place'].map(mapping)
# Done

In [31]:
data

,id,title,time,place,company,jobs
0,JIDFM000,Data Engineer,4 days ago,Casablanca,Artefact,data engineer
1,JIDFM001,Data Engineer Ref. 003526,2 days ago,Casablanca,Novancy One | Recrutement de Talents du Digital,data engineer
2,JIDFM002,Data Engineer (based in Morocco),4 days ago,Casablanca,Netcompany-Intrasoft,data engineer
3,JIDFM003,Data Engineer H/F,1 week ago,Casablanca,Groupe INTM,data engineer
4,JIDFM004,Data Engineer - GAMMA,1 month ago,Casablanca,Boston Consulting Group (BCG),data engineer
5,JIDFM005,"Data Engineer - QuantumBlack, AI by McKinsey",6 days ago,Casablanca,"QuantumBlack, AI by McKinsey",data engineer
7,JIDFM007,Data Analyst (H/F),2 weeks ago,Casablanca,Deloitte,data analyst
8,JIDFM008,Senior Data Analyst,4 days ago,Casablanca,Infomineo,data analyst
10,JIDFM010,Lead Data Engineer,1 week ago,Marrakech,ALPHA10X,data engineer
11,JIDFM011,Ingénieur Data engineer Confirmé (H/F) - Casab...,1 day ago,Casablanca,Atos,data engineer
12,JIDFM012,Lead Data Engineer,2 weeks ago,Marrakech,ALPHA10X,data engineer
14,JIDFM014,Data Scientist-(H/F),2 days ago,Casablanca,Société Générale Maroc,data scientist
15,JIDFM015,BIG DATA ENGINEER (3-5 years of XP),2 weeks ago,Rebat,GLOBAL DEFENSE SYSTEMS,data engineer
16,JIDFM016,Data Scientist,4 weeks ago,Casablanca,Evernex,data scientist
19,JIDFM019,Data Scientist,2 weeks ago,Casablanca,Société Générale Maroc,data scientist

In [32]:
# Now, everything is ready so we just load the data to csv file
data.to_csv('scrapping_example.csv', index=False)

<h2 style="color: green">Dashboarding</h2>

+ The final step is to make a dashboard with power bi or Tableau, just use what you are good at. In my case, I'm really not good at any of them :) I just watched a video on youtube here is the link:


[PowerBI tutorial](https://www.youtube.com/watch?v=c7LrqSxjJQQ&t=712s&ab_channel=LeilaGharani)

<hr>
<p style="text-align: right">Data Project, Scrapping & Dashboarding | <span style="color: green">Successfuly Completed</span></p>